/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

//orange: #
html,body{
  height: 100%;
}
body {
  margin:0;
  font-family: 'Lato';
  font-size: 20px;
  background-color: #fff;
  line-height: 1.4
}
.header{
  height: 100vh;
  width: 100%;
  display:table;
  background-color:#eeeeee;
  background-image: url("apartment2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.navbar{
  font-family: 'Lato' !important;
  font-size: 0.9rem;
  background-color: transparent;
}
.navbar-wrapper{
  padding:1.5rem 
}
.header-info{
  background-color:transparent;
  display: table-row;
  text-align: center;
}

.header-input{
border-right:0;
}
select{
border-left:0;
}
.header-title{
    font-family: 'IndieFlower', cursive;
}

@font-face {
  font-family: 'IndieFlower';
  src:font-url('/assets/IndieFlower.ttf');
}

@font-face {
  font-family: 'Lato';
  src:font-url('/assets/Lato-Regular.ttf');
}

.nav , a {
  font-weight: bold;
  transition: 0.2s ease;
  border-bottom: 4px solid transparent;
}
.nav , a:hover {
  border-bottom: 4px solid #FF851B;
}

.about{
  font-size: 15px !important;
}
.about-us-image{
  background-image: url("bg1.jpg");
  background-size: cover;
  height: 100%;
  width: 40%;
  float: left;
}
.about-us-container{
  height: 100%;
  width: 60%;
  float: right;
  display: table;
  max-height: 100%
}
.features-row{
  padding:2rem;
}
.about-us-text{
  display: table-row;
  float:top;
}

.about-image-col{
  min-height: 30rem;

}
.no-padding{
  padding:0px;
}
.about .fa{
  color: #ff5722;
}

.about-us , .col-lg-6{
    padding: 0 4em;
}
.girl-background {
  background-image:url("girl-background.jpg");
  background-size: 150% 100%;
  background-position: right;
}
.about-container{
  background-color: #f4f4f4;
}
.padding-top{
  padding-top:3rem;
}
